{% extends 'templates.html' %}

{% block content %}
  <h1></h1>

  <div class="ui grid">
    <div class="row">
      <div class="eleven wide column">
        <h3> {{ document.username }}</h3>
        <h5> {{ document.content }}</h5>
      </div>
      <div class="three wide column">

        <form action="{{ request.url }}" method="POST">
          {{ form.csrf_token }}
          <div class="ui checkbox">
            {{ form.classify(style="list-style-type: none;") }}
          </div>
          <button type="submit" class="fluid ui primary button" style="margin:0.5em 0em">제출하기</button>
        </form>
      </div>
    </div>
  </div>


{% endblock %}
